 body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 500px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
  }

  

  /* My editions */

.buttonrosa {
  margin-top: 30px;
  font-size: 0.6em;
  font-weight: bolder; 
  background-color: #C92071;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.textoAmarelo {
  color: #F6AA1C;
}

.terceiroTexto {
  margin-top: 18px;
  font-size: 15px;
  color: #474747;
}

.minhaimg {
  margin: 0 70px 10px 0;
  float: right;
}

.swiper-pagination-bullet-active {
  background: #C92071 !important; 
}


  