@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Tilt+Neon&family=VT323&display=swap');

.navbar{
    margin-left: 30px;
}
.logo {
    font-weight: bold;
    margin-left: 13px;
    margin-top: 20px;
    font-family: 'Inter';
    color: #C92071;  
}

.navbar .carrinho {
    width: 30px;
    height: 35px;
    color: #C92071;
    margin-left: 150px;
    margin-top: 20px;
}

.Vector {
    margin-left: 10px;
    margin-top: 27px;
}

.navbar .input {
    left: 20px;
    width: 500px;
    top: 20%;
    color: #edede9;
}

.navbar .botao {
    font-weight: bold;
    background-color: #C92071;
    color: #edede9;
    width: 150px;
    height: 50px;
    left: 60%;
    top: 20%;
}

.navbar .botao1 {
    width: 150px;
    height: 50px;
    left: 30%;
    top: 20%;
    color: #474747;
}